mainmenu "Toolen settings"

menu "Basic Commands"
	source generated/basic.conf
endmenu

menu "File operations"
	source generated/file.conf
endmenu

menu "System operations"
	source generated/sys.conf
endmenu

menu "String operations"
	source generated/string.conf
endmenu

menu "Other commands"
	source generated/others.conf
endmenu

menu "In Development"
	source generated/devel.conf
endmenu

# Cut line
comment "Global settings"

menu "System configurations"
	config DEF_HAVE_URANDOM
		bool "Have /dev/urandom device"
		default y
		help
			/dev/urandom device support
endmenu

menu "Build options"
	config HOST_C_CPLR
		string "Host C Compiler"
		default "gcc"
		help
			Set host C compiler
	config C_CPLR
		string "C Compiler"
		default "gcc"
		help
			Set default C compiler
	config STATIC_LINK
		bool "Static link"
		default n
		help
			Static link
			TIPS: It will cause some warnings so we don't recommend you enable this option
	config STRIP
		bool "Strip symbols"
		default n
		help
			Strip symbols in final executable
	config COMPILE_LICENSE
		bool "Compile LICENSE"
		default y
		help
			Compile MIT LICENSE in main/main.c
endmenu
